<section class="poster">
    <img class="poster__image" src="{{ image }}">
    <div class="poster__footer">
        {% if title %}
            <div class="poster__title">{{ title }}</div>
        {% endif %}
        <a href="#" class="poster__btn btn btn--wide">Смотреть коллекцию</a>
    </div>
</section>