<div class="micro-alert">
    <div class="micro-alert-item id-micro-alert1726571592233 is-error-notice">
        <span class="icon-check" style="margin-right:5px;"></span> Товар добавлен в избранное
    </div>
</div>