<div class='co-checkout-block--padded'>
  

  
  <table class='co-table co-table--to_card'>
    <tr class='co-table-row co-table-row--head'>
      <td class='co-table-cell co-table-cell--head'>
      Дата оформления
      </td>
      <td class='co-table-cell co-table-cell--head'>
      Номер заказа
      </td>
      <td class='co-table-cell co-table-cell--head'>
      Статус
      </td>
      <td class='co-table-cell co-table-cell--head co-table-cell--hide@sm'>
      Оплата
      </td>
      <td class='co-table-cell co-table-cell--head co-table-cell--hide@sm'>
      Сумма заказа
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:02
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1037</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        В обработке
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        57 300 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:01
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1036</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Выполнен
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        114 000 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:01
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1035</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Отменен
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        189 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:01
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1034</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Возврат
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:01
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1033</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        114 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:00
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1032</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        56 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:00
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1031</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:00
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1030</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        56 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:00
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1029</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 09:00
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1028</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:58
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1027</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        56 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:58
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1026</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        114 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:58
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1025</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:57
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1024</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:57
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1023</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:57
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1022</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        56 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:57
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1021</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:56
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1020</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        56 900 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:55
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1019</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        114 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:55
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1018</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:55
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1017</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        189 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:54
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1016</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        189 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:54
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1015</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:53
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1014</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        75 600 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--body co-table-row--striped'>
      <td class='co-table-cell co-table-cell--body' data-title="Дата оформления">
        28.08.2024 08:53
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Номер заказа">
      <a class="co-link" href="../order/">1013</a>
      </td>
      <td class='co-table-cell co-table-cell--body' data-title="Статус">
        Принят
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Оплата">
        
        Не оплачен
        
      </td>
      <td class='co-table-cell co-table-cell--body co-table-cell--hide@sm' data-title="Сумма заказа">
        114 300 ₽
      </td>
    </tr>
    
    <tr class='co-table-row co-table-row--foot'>
      <td class='co-table-cell co-table-cell--foot' colspan="5">
        <div class='co-order_history-total_title'>Сумма выполненных заказов:</div>
        <div class='co-order_history-total_sum co-price'>57 300 ₽</div>
      </td>
    </tr>
  </table>

  <div class="co-pagination">
    

    
      

      
      <a href="?page=3" class="co-pagination_link">
        <div class="
          co-pagination_button
          
            co-pagination_button__active
          
        ">
          1
        </div>
      </a>
    
      

      
      <a href="/client_account/orders?page=2" class="co-pagination_link">
        <div class="
          co-pagination_button
          
            co-pagination_button__inactive
          
        ">
          2
        </div>
      </a>
    

    
      <a href="/client_account/orders?page=2" class="co-pagination_link">
        <div class="
          co-pagination_button
          co-pagination_button_handle
        ">
          >
        </div>
      </a>
    
  </div>
  
  
</div>