* {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}