:root {
    --bg: var(--draft-bg, #ffffff);
    --bg-is-light: var(--draft-bg-is-light, true);
    --bg-minor-shade: var(--draft-bg-minor-shade, #f7f7f7);
    --bg-minor-shade-is-light: var(--draft-bg-minor-shade-is-light, true);
    --bg-major-shade: var(--draft-bg-major-shade, #ededed);
    --bg-major-shade-is-light: var(--draft-bg-major-shade-is-light, true);
    --bg-half-shade: var(--draft-bg-half-shade, #808080);
    --bg-half-shade-is-dark: var(--draft-bg-half-shade-is-dark, true);
    --color-btn-bg: var(--draft-color-btn-bg, #525665);
    --color-btn-bg-is-dark: var(--draft-color-btn-bg-is-dark, true);
    --color-btn-bg-minor-shade: var(--draft-color-btn-bg-minor-shade, #616677);
    --color-btn-bg-minor-shade-is-dark: var(--draft-color-btn-bg-minor-shade-is-dark, true);
    --color-btn-bg-major-shade: var(--draft-color-btn-bg-major-shade, #707589);
    --color-btn-bg-major-shade-is-dark: var(--draft-color-btn-bg-major-shade-is-dark, true);
    --color-btn-bg-half-shade: var(--draft-color-btn-bg-half-shade, #a5a9b6);
    --color-btn-bg-half-shade-is-dark: var(--draft-color-btn-bg-half-shade-is-dark, true);
    --color-accent-text: var(--draft-color-accent-text, #B0B0B1);
    --color-accent-text-is-light: var(--draft-color-accent-text-is-light, true);
    --color-accent-text-minor-shade: var(--draft-color-accent-text-minor-shade, #adadae);
    --color-accent-text-minor-shade-is-dark: var(--draft-color-accent-text-minor-shade-is-dark, true);
    --color-accent-text-major-shade: var(--draft-color-accent-text-major-shade, #aaaaab);
    --color-accent-text-major-shade-is-dark: var(--draft-color-accent-text-major-shade-is-dark, true);
    --color-accent-text-half-shade: var(--draft-color-accent-text-half-shade, #87878a);
    --color-accent-text-half-shade-is-dark: var(--draft-color-accent-text-half-shade-is-dark, true);
    --color-text-dark: var(--draft-color-text-dark, #333333);
    --color-text-dark-is-dark: var(--draft-color-text-dark-is-dark, true);
    --color-text-dark-minor-shade: var(--draft-color-text-dark-minor-shade, #474747);
    --color-text-dark-minor-shade-is-dark: var(--draft-color-text-dark-minor-shade-is-dark, true);
    --color-text-dark-major-shade: var(--draft-color-text-dark-major-shade, #5c5c5c);
    --color-text-dark-major-shade-is-dark: var(--draft-color-text-dark-major-shade-is-dark, true);
    --color-text-dark-half-shade: var(--draft-color-text-dark-half-shade, #999999);
    --color-text-dark-half-shade-is-dark: var(--draft-color-text-dark-half-shade-is-dark, true);
    --color-text-light: var(--draft-color-text-light, #ffffff);
    --color-text-light-is-light: var(--draft-color-text-light-is-light, true);
    --color-text-light-minor-shade: var(--draft-color-text-light-minor-shade, #f7f7f7);
    --color-text-light-minor-shade-is-light: var(--draft-color-text-light-minor-shade-is-light, true);
    --color-text-light-major-shade: var(--draft-color-text-light-major-shade, #ededed);
    --color-text-light-major-shade-is-light: var(--draft-color-text-light-major-shade-is-light, true);
    --color-text-light-half-shade: var(--draft-color-text-light-half-shade, #808080);
    --color-text-light-half-shade-is-dark: var(--draft-color-text-light-half-shade-is-dark, true);
    --icons_pack: var(--draft-icons_pack, circle);
    --controls-btn-border-radius: var(--draft-controls-btn-border-radius, 0px);
    --color-notice-warning: var(--draft-color-notice-warning, #fff3cd);
    --color-notice-warning-is-light: var(--draft-color-notice-warning-is-light, true);
    --color-notice-warning-minor-shade: var(--draft-color-notice-warning-minor-shade, #fff3ca);
    --color-notice-warning-minor-shade-is-light: var(--draft-color-notice-warning-minor-shade-is-light, true);
    --color-notice-warning-major-shade: var(--draft-color-notice-warning-major-shade, #fff2c8);
    --color-notice-warning-major-shade-is-light: var(--draft-color-notice-warning-major-shade-is-light, true);
    --color-notice-warning-half-shade: var(--draft-color-notice-warning-half-shade, #ffedb3);
    --color-notice-warning-half-shade-is-light: var(--draft-color-notice-warning-half-shade-is-light, true);
    --color-notice-success: var(--draft-color-notice-success, #d4edda);
    --color-notice-success-is-light: var(--draft-color-notice-success-is-light, true);
    --color-notice-success-minor-shade: var(--draft-color-notice-success-minor-shade, #d3ecd9);
    --color-notice-success-minor-shade-is-light: var(--draft-color-notice-success-minor-shade-is-light, true);
    --color-notice-success-major-shade: var(--draft-color-notice-success-major-shade, #d1ecd7);
    --color-notice-success-major-shade-is-light: var(--draft-color-notice-success-major-shade-is-light, true);
    --color-notice-success-half-shade: var(--draft-color-notice-success-half-shade, #bee4c7);
    --color-notice-success-half-shade-is-light: var(--draft-color-notice-success-half-shade-is-light, true);
    --color-notice-error: var(--draft-color-notice-error, #f8d7da);
    --color-notice-error-is-light: var(--draft-color-notice-error-is-light, true);
    --color-notice-error-minor-shade: var(--draft-color-notice-error-minor-shade, #f8d7da);
    --color-notice-error-minor-shade-is-light: var(--draft-color-notice-error-minor-shade-is-light, true);
    --color-notice-error-major-shade: var(--draft-color-notice-error-major-shade, #f8d5d8);
    --color-notice-error-major-shade-is-light: var(--draft-color-notice-error-major-shade-is-light, true);
    --color-notice-error-half-shade: var(--draft-color-notice-error-half-shade, #f5c4c8);
    --color-notice-error-half-shade-is-light: var(--draft-color-notice-error-half-shade-is-light, true);
    --color-notice-info: var(--draft-color-notice-info, #cce5ff);
    --color-notice-info-is-light: var(--draft-color-notice-info-is-light, true);
    --color-notice-info-minor-shade: var(--draft-color-notice-info-minor-shade, #cae4ff);
    --color-notice-info-minor-shade-is-light: var(--draft-color-notice-info-minor-shade-is-light, true);
    --color-notice-info-major-shade: var(--draft-color-notice-info-major-shade, #c8e3ff);
    --color-notice-info-major-shade-is-light: var(--draft-color-notice-info-major-shade-is-light, true);
    --color-notice-info-half-shade: var(--draft-color-notice-info-half-shade, #b3d7ff);
    --color-notice-info-half-shade-is-light: var(--draft-color-notice-info-half-shade-is-light, true);
    --font-family: var(--draft-font-family, "PT Root UI");
    --font-size: var(--draft-font-size, 16px);
    --font-family-heading: var(--draft-font-family-heading, Jost);
    --heading-ratio: var(--draft-heading-ratio, 1.5);
    --heading-weight: var(--draft-heading-weight, 600);
    --collection_count: var(--draft-collection_count, 10);
    --search_count: var(--draft-search_count, 10);
    --blog_size: var(--draft-blog_size, 6);
    --product_not_available: var(--draft-product_not_available, shown);
    --layout-content-max-width: var(--draft-layout-content-max-width, 1408px);
    --delta_sidebar: var(--draft-delta_sidebar, 2);
    --sidebar_index_show: var(--draft-sidebar_index_show, false);
    --sidebar_index_position: var(--draft-sidebar_index_position, left);
    --sidebar_collection_show: var(--draft-sidebar_collection_show, false);
    --sidebar_collection_position: var(--draft-sidebar_collection_position, left);
    --sidebar_cart_show: var(--draft-sidebar_cart_show, false);
    --sidebar_cart_position: var(--draft-sidebar_cart_position, left);
    --sidebar_product_show: var(--draft-sidebar_product_show, false);
    --sidebar_product_position: var(--draft-sidebar_product_position, left);
    --sidebar_blog_show: var(--draft-sidebar_blog_show, false);
    --sidebar_blog_position: var(--draft-sidebar_blog_position, left);
    --sidebar_article_show: var(--draft-sidebar_article_show, false);
    --sidebar_article_position: var(--draft-sidebar_article_position, left);
    --sidebar_page_show: var(--draft-sidebar_page_show, false);
    --sidebar_page_position: var(--draft-sidebar_page_position, left);
    --sidebar_compare_show: var(--draft-sidebar_compare_show, false);
    --sidebar_compare_position: var(--draft-sidebar_compare_position, left);
    --sidebar_search_show: var(--draft-sidebar_search_show, false);
    --sidebar_search_position: var(--draft-sidebar_search_position, left);
    --feedback_captcha_enabled: var(--draft-feedback_captcha_enabled, true);
    --favorite_enabled: var(--draft-favorite_enabled, true);
    --compare_enabled: var(--draft-compare_enabled, true); 
}